---
title: Code of Conduct - One Team Government 2017
hidenav: true
---
{% extends 'layouts/default.html' %}

{% block content %}

  {# SECTION ####################################################################### #}

  {% call ui.pageSection({
    id: 'codeofconduct',
    heading: 'Code of conduct' | safe,
    modifier: 'border-bottom'
  }) %}

    <div class="u-2/3">
      <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
      <p>Participants asked to stop any harassing behaviour are expected to comply immediately. Sponsors are also subject to the anti-harassment policy.</p>
      <p>If a participant engages in harassing behaviour, the organisers may take any action they deem appropriate, including warning the offender or expulsion from the unconference.</p>
      <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Organisers and helpers can be identified by t-shirts.</p>
      <p>We will be happy to help participants contact venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event. We value your attendance.</p>
      <p>We expect participants to follow these rules at conference and workshop venues and unconference-related social events.</p>
      <p>Participants must respect others' right to be heard.</p>
    </div>

  {% endcall %}

{% endblock %}
