body, html {
	height: 100%;
}

html {
  overflow-y: scroll;
  min-height: 100%;
	background: map-value($colours,(yellow,one));
}

a{
	color: #000;
	-webkit-tap-highlight-color:rgba(0,0,0,0.3)
}

img {
	max-width: 100%;
}
